@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');


.about{
  text-align: center;
  color:white;
  margin:1%;
  font-family:italics;
  font-size:34px;
  margin-left: 10%;
  
}
#kwanza{
  color:red;
  text-align: center;
  margin-top:5%;
  font-family:'acme';
  margin-left: 10%;
  
  
}
#cool{
  font-family:'acme';
  color: red;
  font-size:49px;
  
}
#cool :hover{
  color:yellow;
}
#roy{
  font-family:'acme';
  color: red;
  font-size:49px;
}
#roy :hover{
  color:yellow;
}
#glass{
  font-family:'acme';
  color: red;
  font-size:49px;
}
#glass :hover{
  color:yellow;
}
#submit{
  color:black;
  opacity: 100;
}
#submit:hover{
  color: green;
}
#prime{
  margin-top: 12%;
}
img{
  border-radius: 20px
}
.row{
  padding-top: 3%;
  margin-left:2%;
  padding:3%;
  margin-top: 6%;
  font-size:26px;
}
.row, img :hover{
opacity:0.9;
cursor: pointer;
}
.menu{
  text-align: center;
  justify-content:space-around;
  margin-top: 5%;
  color: white;

}
.second{
  background-color:black;
  margin-left: 33%;
  margin-top: 12%;
  font-family: italics;
  opacity:0.7;
  font-size: 18px;
  padding: 70px 30px;
  text-align: center; 
  width: 33%;
  
}
#bill{
  font-size: 28px;
}
#zuri{
  font-size: 20px;
}
h1{
  font-family:'acme';
  color: red;
  text-align: center;
  margin-top:11%;
  margin-left: 13%;
  opacity: 0.8
}
h2{
  font-family:'acme';
  color: red;
}
#delivery{
  text-align: center;
  margin-left:0%;
  color: black;
  font-size: 23px;
}
#gari{
  animation: heartbeat 4s infinite;
  padding: 4%;
}
@keyframes heartbeat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
nav ul {
  padding: 34px;
  margin: 4px;
  font-family: 'Times New Roman', Times, serif;

}
nav a {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  padding: 20px 0;
  color: white;
  transition: 1s;
  font-size: 28px;
}

nav a:hover {
  color:green;
}
nav.shrink{
  background-color: rgba(0,0,0,0.5);
  height: 60px;
  padding-top:0px;
}
.contact {
  text-align: center;
  margin-top: 5%;
  color: white;
}
.text{
  padding:30px;
}
.form-inline {
  padding-left: 30%;
}
nav{
  margin-left: 2%;
}
#buzz{
  text-align: center;

}
